<template>
  <div class="flex m-8">
    <div class="basis-1/2 p-4 bg-white shadow-md rounded-lg h-1/2">
      <div class="">
        <p>Reference Page :</p>
        <input type="text" v-model="ref" class="border border-gray-500 rounded-md w-1/2 p-2">
      </div>
      <div class="mt-4">
        <p>Number of Frames :</p>
        <input type="text" v-model="no_frames" class="border border-gray-500 rounded-md w-1/5 p-2">
      </div>
      <div class="mt-4 text-right">
        <button 
          class="bg-sky-500 text-white hover:bg-white hover:text-sky-500 hover:border-sky-500 rounded-full border-2 border-white px-4 py-2 font-bold tracking-wider"
          @click="calculate"
          >
          Run
        </button>
        <div class="bg-sky-200"></div>
      </div>
    </div>
    <div class="basis-1/2 ml-8">
      <div class="mb-4 bg-white shadow-md rounded-lg p-4">
        <p class="font-semibold">First In First Out (FIFO)</p>
        <p class="">Number of Hit : {{ fifo.page_hits }}</p>
        <p class="">Hit Ratio : {{ fifo.ratio }}</p>
        <p class="">Number of Fault : {{ fifo.page_faults }}</p>
      </div>
      <div class="mb-4 bg-white shadow-md rounded-lg p-4">
        <p class="font-semibold">Least Recently Used (LRU)</p>
        <p class="">Number of Hit : {{ lru.page_hits }}</p>
        <p class="">Hit Ratio : {{ lru.ratio }}</p>
        <p class="">Number of Fault : {{ lru.page_faults }}</p>
      </div>
      <div class="mb-4 bg-white shadow-md rounded-lg p-4">
        <p class="font-semibold">Not Recently Used (NRU)</p>
        <p class="">Number of Hit : {{ nru.page_hits }}</p>
        <p class="">Hit Ratio : {{ nru.ratio }}</p>
        <p class="">Number of Fault : {{ nru.page_faults }}</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  },
  data(){
    return{
      ref: '1,2,3,4,5,1,2,3,4,5,5,4,3,2,1,1,2,3,4,5',
      no_frames: 20,
      lru: {
        page_hits: 0,
        page_faults: 0,
        ratio: 0,
      },
      fifo: {
        page_hit: 0,
        page_faults: 0,
        ratio: 0,
      },
      nru: {
        page_hit: 0,
        page_faults: 0,
        ratio: 0,
      },
    }
  },
  methods: {
    calculate(){
      if (this.ref == "" || this.no_frames == 0){
        this.$swal({
          title: 'Error',
          text: 'Please fill the empty spaces',
          icon: 'error',
          buttons: false,
          timer: 1500,
        })
      }else{
        this.$swal({
          title: 'Runnning....',
          icon: 'info',
          buttons: false,
          timer: 1500,
        })
        let refArr = this.ref.split(',')
        let no_ref = refArr.length
        this.lru_algo(refArr, no_ref, this.no_frames)
        this.fifo_algo(refArr, no_ref, this.no_frames)
        this.nru_algo(refArr, no_ref, this.no_frames)
      }
    },
    lru_algo(ref, no_ref, frames){
      let set = new Set();
      let clone_set = new Set();
      let hash_map = new Map();
      let page_faults = 0;
      let page_hits = 0;
      let matrix = [[]];
      let matrix_column = 0;
      let temp = [];
      let tempArr = [];
      let counter = 0;
      for (let i = 0; i < no_ref; i++){
        if(set.size == 0){
          for (let i = 0; i < frames; i++) {
            temp.push(ref[i]);
          }
          matrix[matrix_column] = temp;
        }
        if (set.size < frames){
          if (!set.has(ref[i])){
            set.add(ref[i]);
            page_faults++;
          }else if (set.has(ref[i])){
            page_hits++;
          }
          hash_map.set(ref[i], i);
        } else {
          if (!set.has(ref[i])){
            page_faults++;
            let lruVal = -1
            let tempVal= -1
            for(let item of set.values()) {
              let temp = item
              if (hash_map.get(temp) < lruVal){
                lruVal = hash_map.get(temp)
                tempVal = temp
              }
            }
            if (counter != 0){
              tempArr = Array.from(clone_set)
              let removeIndex = tempArr.indexOf(tempVal)
              tempArr[removeIndex] = ref[i]
              matrix_column++
              matrix[matrix_column] = tempArr
              clone_set = new Set(tempArr)
            }else if (counter == 0){
              tempArr = Array.from(set)
              let removeIndex = tempArr.indexOf(tempVal)
              tempArr[removeIndex] = ref[i]
              matrix_column++
              matrix[matrix_column] = tempArr
              clone_set = new Set(tempArr)
              counter++
            }
            set.delete(tempVal)
            hash_map.delete(tempVal)
            set.add(ref[i])
          }else if (set.has(ref[i])){
            page_hits++
            matrix_column++
            matrix[matrix_column] = tempArr
          }
          hash_map.set(ref[i], i)
        }
      }
      let ratio = (page_hits / no_ref)
      this.lru = {page_faults, page_hits, matrix, ratio}
    },
    fifo_algo(ref, no_ref, frames){
      let set = new Set();
      let page_faults = 0;
      let page_hits = 0;
      let matrix = [[]];
      let matrix_row = 0;
      let matrix_column = 0;
      let latest_first = 0;
      for (let i = 0; i < no_ref; i++) {
        if (set.size < frames){
          if (!set.has(ref[i])){
            set.add(ref[i]);
            page_faults++;
            matrix[matrix_column][matrix_row] = ref[i];
            matrix_row++;
          }else if (set.has(ref[i])){
            page_hits++;
            matrix[matrix_column][matrix_row] = ref[i];
            matrix_row++;
          }
        }else{
          if(!set.has(ref[i])){
            let tempArr = Array.from(set);
            tempArr[latest_first] = ref[i];
            latest_first++;
            matrix_column++;
            matrix[matrix_column] = tempArr;
            if (latest_first == frames){
              latest_first = 0;
            }
            set = new Set(tempArr);
            page_faults++;
          }else if(set.has(ref[i])){
            page_hits++;
            matrix_column++;
            matrix[matrix_column] = Array.from(set);
          }
        }
        if (matrix[matrix_column].length == frames){
          matrix_column++;
          matrix_row = 0;
          matrix[matrix_column] = []
        }
      }
      for (let i = 0; i < matrix.length; i++) {
        if (matrix[i] == false){
          matrix.splice(i,1);
        }
      }
      let ratio = (page_hits / no_ref)
      this.fifo = {page_faults, page_hits, matrix, ratio}  
    },
    nru_algo(ref, no_ref, frames){
      let set = new Set();
      let page_faults = 0;
      let page_hits = 0;
      for (let i = 0; i < no_ref; i++) {
        if (set.size < frames){
          if (!set.has(ref[i])){
            set.add(ref[i]);
            page_faults++;
          }
          if (set.has(ref[i])){
            page_hits++;
          }
        }else{
          if(!set.has(ref[i])){
            let tempArr = Array.from(set);
            let randomIndex = Math.floor(Math.random() * (no_ref - 1));
            tempArr[randomIndex] = ref[i];
            set = new Set(tempArr);
            page_faults++;
          }
          if (set.has(ref[i])){
            page_hits++;
          }
        }
      }
      let ratio = (page_hits / no_ref)
      this.nru = {page_faults, page_hits, ratio}
    }
  }
}
</script>